<div class="banner flex-container" style="background-image: url('https://res.cloudinary.com/du7l2fe4u/image/upload/v1570515672/cocktail_banner_1_p0elxd.jpg');">
  <div class="miss-header">
    <h1>Miss<br>Cocktail</h1>
  </div>
</div>
