<div class="banner flex-container" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url('https://res.cloudinary.com/du7l2fe4u/image/upload/v1570446325/photo-1481391564276-da6fcacaee31_spclka.jpg');">
  <div class="banner-box">
    <h1>Miss<br>Cocktail</h1>
  </div>
</div>
