<div class="footer">
  <div class="footer-links">
    <% link_to '#' do %>
      <i class="fab fa-instagram">
    <% end %>
    <% link_to '#' do %>
      <i class="fab fa-facebook"></i>
    <% end %>
  </div>
  <div class="footer-copyright">
    Miss Cocktail <i class="fas fa-heart"></i> cocktails
  </div>
</div>
