<ul class="nav flex-sm-column">
  <li class="nav-item">
    <%= link_to root_path do %>
      <%= cl_image_tag("https://cdn.dribbble.com/users/1828677/screenshots/6153056/cocktail2.gif", class:"logo") %>
    <% end %>
  </li>
  <li class="nav-item">
    <%= link_to "Browse", cocktails_path, class:"nav-link", id:"vertical-link" %>
  </li>
  <li class="nav-item">
    <%= link_to "Add Cocktail", new_cocktail_path, class:"nav-link", id:"vertical-link" %>
  </li>
  <li class="nav-item github-logo">
    <a href="https://github.com/enitschorn/rails-mister-cocktail" alt="github-logo"><i class="fab fa-github"></i></a>
  </li>
</ul>
