<% if cocktail.doses.present? %>
  <table class="table table-borderless">
    <tbody>
      <% cocktail.doses.each do |dose| %>
        <tr>
          <td scope="row"><%= dose.description %></td>
          <td><%= dose.ingredient.name %></td>
          <%#= link_to 'Remove', dose_path(dose), method: :delete, 'data-confirm': 'Are you sure?' %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <td scope="row">This cocktail has no ingredients yet.</td>
      </tr>
    </tbody>
  </table>
<% end %>