<% if cocktail.reviews.present? %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th scope="row" class="description-header">Reviews</th>
      </tr>
      <% cocktail.reviews.each do |review| %>
        <tr>
          <td scope="row"><%= review.description %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <table class="table table-borderless">
    <tbody>
      <tr>
        <th scope="row" class="description-header">Reviews</th>
      </tr>
      <tr>
        <td scope="row">This cocktail has no reviews yet.</td>
      </tr>
    </tbody>
  </table>
<% end %>