.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 80px 40px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;

  h1 {
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 90px;
    text-align: left;
    line-height: 0.8;
  }
}

@media(max-width: 768px) {
  .banner {
    h1 {
      font-size: 64px;
    }
  }
}

@media(max-width: 375px) {
  .banner {
    h1 {
      font-size: 40px;
    }
  }
}
