.banner {
  background-size: cover;
  background-position: center;
  height: 100vh;
  padding: 80px;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;

  h1 {
    margin: 0;
    text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
    font-size: 120px;
    text-align: left;
  }
}

