.cocktail-card {
  margin: 40px;
  max-width: 280px;

  .cocktail-image {
    margin-bottom: 16px;
  }

  .cocktail-name {
    color: black;
    text-decoration: none;
  }
}

.cocktail-card:hover {
  text-decoration: none;

  .cocktail-image {
    opacity: 0.7;
  }

  .cocktail-name {
    display: inline-block;
    color: black;
    border-bottom: 1px solid #EF9488;
    text-decoration: none;
  }
}

@media(max-width: 768px) {
  .cocktail-card {
    margin: 0;

    h2 {
      font-size: 24px;
    }
  }
}

@media(max-width: 375px) {
  .cocktail-card {
    margin: 0;
  }

  h2 {
    font-size: 16px;
  }
}