.logo {
  width: 150px;
  margin-bottom: 80px;
}

#vertical-link {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  margin: 16px 48px;
  text-decoration: none;
  color: black;
  letter-spacing: 0.1rem;
}

#vertical-link:hover {
  text-decoration: underline;
  text-decoration-color: #EF9488;
}

.github-logo {
  margin: 80px 48px 0 48px;
}

.fa-github {
  color: black;
  font-size: 24px;
  padding: 16px;
}