.logo {
  width: 80px;
  margin-bottom: 80px;
}

#vertical-link {
  writing-mode: vertical-lr;
  transform: rotate(180deg);
  padding: 40px 24px;
  text-decoration: none;
  color: black;
  letter-spacing: 0.1rem;
}

#vertical-link:hover {
  text-decoration: underline;
  text-decoration-color: #EF9488;
}

.github-logo {
  padding: 80px 24px 0 24px;
}

.fa-github {
  color: black;
  font-size: 16px;
  padding: 8px;
}
